#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        layer_state = <0>; // 定义默认图层

        bindings = <
            &kp A &kp B &kp C // 示例键位定义
        >;

        encoders {
            encoder_0 = &encoder0;
            encoder_1 = &encoder1;
        };
    };
};

